{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/css/survey/index.css" />
{% endblock %}

{% block content %}
<div class="container center">
    <h1>Welcome to this survey!</h1>
    <p>This is survery about students' study schedules!</p>
    <p>Are you in?</p>
    <a href="/survey"
        ><button class="button-consent pure-button">Oh Yes!</button></a
    >
    <a href="/decline"
        ><button class="button-decline pure-button">Umm.. No</button></a
    >
</div>
{% endblock %}
