{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="center">When is your best time to study?</h2>
    
    <form method="post" action="/survey" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" pattern="[A-Za-z]{3,}" required>
        </div>
        
        <br/> 

        <div class="pure-control-group">
            <label for="name">Best day in a week?</label>
            <select name="">
                <option value="">Monday</option>
                <option value="">Tuesday</option>
                <option value="">Wednesday</option>
                <option value="">Thursday</option>
                <option value="">Friday</option>
                <option value="">Saturday</option>
                <option value="">Sunday</option>
            </select>
        </div>
        
        <br/> 
        
        <div class="pure-control-group">
            <label for="name">Best time in a day?</label>
            <input type="radio" name="radio" value="Morning"> Morning</input>
            <input type="radio" name="radio" value="Morning"> Afternoon</input>
            <input type="radio" name="radio" value="Morning"> Evening</input>
            <input type="radio" name="radio" value="Morning"> Night</input>
        </div>
        <div class="pure-controls">
            <label for="name" class="pure-checkbox">
                <input type="checkbox" name=""> Got more to say?
            </label>
            <label for="name"></label>
            <textarea class="pure-input-1-2" name="" placeholder="Addtional info" disabled></textarea>
        </div>
    
        <div class="pure-controls">
            <button type="submit" class="pure-button button-consent">Next</button>
        </div>
    </form>
</div>
{% endblock %}