{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/javascript/survey/survey.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="center">When is your best time to study?</h2>
    
    <form method="post" action="/survey" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="nickname">Nickname</label>
            <input id="nickname" type="text" name="nickname" pattern="[A-Za-z]{3,}" required>
        </div>
        
        <br/> 

        <div class="pure-control-group">
            <label for="best_day">Best day in a week?</label>
            <select id="best_day" name="best_day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        
        <br/> 
        
        <div class="pure-control-group">
            <label for="best_time">Best time in a day?</label>
            <input id="best_time" type="radio" name="best_time" value="Morning" required> Morning</input>
            <input id="best_time" type="radio" name="best_time" value="Afternoon" required> Afternoon</input>
            <input id="best_time" type="radio" name="best_time" value="Evening" required> Evening</input>
            <input id="best_time" type="radio" name="best_time" value="Night" required> Night</input>
        </div>
        <div class="pure-controls">
            <label for="got-more" class="pure-checkbox">
                <input id="got-more" type="checkbox" name=""> Got more to say?
            </label>
            <label for="info"></label>
            <textarea id="info" class="pure-input-1-2" name="info" placeholder="Addtional info"></textarea>
        </div>
    
        <div class="pure-controls">
            <button type="submit" class="pure-button button-consent">Next</button>
        </div>
    </form>
</div>
{% endblock %}