<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
            integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="static/css/style.css" />
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer" class="footer center">
            {% block footer %} &copy; Copyright 2021 by Zixuan Zhang {% endblock
            %}
        </div>
    </body>
</html>
